<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Contractor.Properties.Settings.Account_grainConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\предметы\4 курс\1 семестр\Диплом\Account_grain.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Contractor.Properties.Settings.Account_grainWithMSSQLServerConnection"
            connectionString="Data Source=DESKTOP-3E20OVV\SQLEXPRESS;AttachDbFilename=D:\Настя\Диплом\Account_grain.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>